*
!src/
!src/**
!CMakeLists.txt
!CMakePresets.json
!vcpkg.json
!cmake/
!cmake/**
!tests/
!tests/**
!external/
external/*
!external/ROCK/
external/ROCK/*
!external/ROCK/src/
external/ROCK/src/*
!external/ROCK/src/ROCKMain.cpp
!external/ROCK/src/physics-interaction/
external/ROCK/src/physics-interaction/*
!external/ROCK/src/physics-interaction/core/
external/ROCK/src/physics-interaction/core/*
!external/ROCK/src/physics-interaction/core/PhysicsInteraction.cpp
!external/ROCK/src/physics-interaction/core/PhysicsInteraction.h
!external/ROCK/src/physics-interaction/weapon/
external/ROCK/src/physics-interaction/weapon/*
!external/ROCK/src/physics-interaction/weapon/TwoHandedGrip.cpp
!external/ROCK/src/physics-interaction/weapon/TwoHandedGrip.h
!external/ROCK/src/physics-interaction/weapon/TwoHandedWeaponPolicy.h
!external/ROCK/src/physics-interaction/weapon/WeaponSupport.h
!.gitignore
